*{margin: 0;padding: 0;}
header{display: grid; background-color: gold; grid-template-columns: repeat(2,1fr); padding: 10px;}
header div{background-image: url(../src/img/header.png); background-repeat: no-repeat; background-position:0 -38px;display: grid;
    grid-template-columns: 281px 98px;
    padding-left: 40px;}
header div span{color: #fff; align-self: center; justify-self: center;}
header div input{border: none; background-color: gold; align-self: center;}
h3{color: blue; text-align: center; padding: 20px;}
section {width: 1200px; margin: auto; display: flex; justify-content:space-between;flex-wrap: wrap;}
section div{width: 245px; font-size: 12px; line-height: 2em; margin-bottom: 30px;}
section div img{width: 245px; height: 200px;}
section div p:nth-of-type(1){display: flex;justify-content:space-between;}
section div p:nth-of-type(2){text-align: right; color: darkgoldenrod;}
section div p:nth-of-type(3){display: flex;justify-content:space-between;color: #ccc;}
section div p:nth-of-type(4){text-align: right;}
article{width: 1200px; margin: auto;}
table{border-collapse: collapse; width: 100%;}
table,th,td{border: 1px solid #ccc;}
table th{background-color: darkturquoise; color: #fff;}
article p{display: flex; justify-content: space-between;}
table tr td:nth-child(1){text-align: center;}
table tr td:nth-child(4){text-align: center;}



